<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">ProductId</th>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; index as i">
      <th scope="row">{{ product.id | number }}</th>
      <td>{{ product.productId | number }}</td>
      <td>{{ product.quantity | number }}</td>
      <td>{{ product.cost | number }}</td>
    </tr>
    </tbody>
  </table>