<div class="mb-3">
    <h4>Orders:</h4>
    <button class="btn btn-outline-primary" (click)="openModal(newOrderModal)">New Order</button>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">ClientId</th>
        <th scope="col">Date</th>
        <th scope="col">Direction</th>
        <th scope="col">Total</th>
        <th scope="col">Products</th>
        <th scope="col">Logistic</th>
        <th scope="col">Confimed</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders; index as i">
        <th scope="row">{{ order.id }}</th>
        <td>{{ order.clientId | number }}</td>
        <td>{{ order.date | date}}</td>
        <td>{{ order.direction }}</td>
        <td>{{ order.total }}</td>
        <td>{{ order.confirmed ? 'Yes' : 'No' }}</td>
        <td><a href="##" [ngbPopover]="productsContent" popoverTitle="Product's Detail" (click)="getOrderProductsFromServer(order)">Info</a></td>
        <ng-template #productsContent>
          <product-list [products]="order.products"></product-list>
        </ng-template>
        <td><a href="##" [ngbPopover]="logisticContent" popoverTitle="Logistic's Detail" (click)="getOrderLogisticFromServer(order)">Info</a></td>
        <ng-template #logisticContent>
          <logistic-list [logistic]="order.logistic"></logistic-list>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>

  <ng-template #newOrderModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Order</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <order-form (orderChanged)="orderChangedHandler($event)"></order-form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="saveAndClose()">Checkout</button>
    </div>
  </ng-template>
  